.aboutContainer {
  font-size: 1.5rem;
  font-family: var(--main-font);
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--cream);
  color: var(--rich-black);
}

.aboutContainer .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex: 0 1 100px;
}

.aboutText {
  padding: 10px;
  font-family: initial;
  text-align: justify;
  border-radius: 20px;
  background: var(--desert-sand);
  flex: 0 1 50ch;
}

.avatar {
  border: 1px solid steelblue;
  border-radius: 50%;
  flex: 1 0 auto;
  max-width: 400px;
  width: 100%;
}

.aboutContainer .link {
  font-size: 2rem;
  padding: 5px;
  background: var(--dark-slate-gray);
  border-radius: 5px;
  flex: 0 0 50px;
}

.aboutContainer .link:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
}
