.aboutContainer {
  font-size: 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--cream);
  color: var(--rich-black);
}

.aboutText {
  padding: 10px;
  width: 60%;
}

.avatar {
  width: 200px;
  height: 200px;
  border: 1px solid steelblue;
  border-radius: 50%;
}

.aboutContainer .link {
  font-size: 2rem;
  padding: 5px;
  background: var(--dark-slate-gray);
  border: 1px solid yellowgreen;
  border-radius: 5px;
}
