.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  margin: 5px;
}

.container {
  font-family: var(--main-font);
  font-size: 4rem;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "header header header"
    "play rules about"
    "footer footer footer";
}

.container section:hover,
footer:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
  transition: transform 2s ease-out, border 0.2s ease-out;
}

header {
  grid-area: header;
  background: var(--dark-sienna);
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  font-size: 7rem;
  color: var(--cream);
  letter-spacing: 1rem;
}

header:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
  transition: transform 2s ease-out, border 0.2s ease-out;
}

header:hover h1 {
  color: hotpink;
  transition: 3s ease-out;
}

footer {
  grid-area: footer;
  background: var(--rich-black);
  color: var(--desert-sand);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: initial;
}

.play {
  grid-area: play;
  background: var(--dark-slate-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: var(--dark-slate-gray);
  font-size: 2rem;
}

footer:hover p {
  color: hotpink;
  transition: 3s ease-out;
}

.rules {
  grid-area: rules;
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  grid-area: about;
  background: var(--desert-sand);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.linkedIn {
  color: var(--cream);
  margin-left: 10px;
}

.linkedIn:hover {
  color: hotpink;
}

.link {
  color: var(--rich-black);
  text-decoration: none;
}

.link:hover {
  color: hotpink;
  transition: transform 2s ease-out, border 0.2s ease-out;
}
