.gameContainer {
  background: var(--desert-sand);
  font-family: var(--main-font);
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 3rem;
  grid-template-areas:
    "drawPile discardPile"
    "playerHand playerHand";
}

.gameContainer button {
  background: var(--desert-sand);
  color: #fff;
  box-shadow: 1px 1px 3px 0px black;
  font-weight: bold;
  border: 1px solid #66644c61;
  border-radius: 10px;
}

.drawPile .start-btn {
  background: var(--desert-sand);
  color: var(--rich-black);
  box-shadow: 1px 1px 3px 0px black;
  text-shadow: 3px 3px 1px var(--dark-slate-gray);
  font-weight: bold;
  border: 2px solid #f131ada1;
  border-radius: 15px;
  font-size: 3rem;
  padding: 3px 30px;
}

.start-btn:hover {
  border: 1px solid hotpink;
  color: #bc2222fa;
  transition: border 0.2s ease-out, color 1s ease-out forwards;
}

button:hover {
  border: 1px solid hotpink;
  color: #bc2222fa;
  transition: border 0.2s ease-out, color 1s ease-out forwards;
}

.gameContainer button:active {
  color: hotpink;
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 1);
}
.gameContainer button:focus {
  outline: none;
}

.gameContainer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gameContainer .link {
  font-size: 2rem;
  padding: 10px;
  background: khaki;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  justify-self: center;
}

.gameContainer .link:hover,
.start-btn:hover,
.restartButton:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
  transition: transform 2s ease-out, border 0.2s ease-out;
}

.drawPile {
  grid-area: drawPile;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.drawPile > div {
  background: url(../img/deck.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50%;
}

.drawPile section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawPile span {
  font-size: 2rem;
}

.score {
  color: green;
  text-shadow: 0px 0px 10px #09cbef;
  font-size: 1.5rem;
  padding: 0 5px 0 5px;
}

.discardPile {
  grid-area: discardPile;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
}

.discardPile::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.65);
}

.discardPile::after {
  content: "Discard Pile";
  font-family: initial;
  font-weight: bold;
  font-size: 2rem;
  color: var(--dark-slate-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30%;
  height: 15%;
  top: 40%;
  left: 35%;
  background: hsla(0, 0%, 100%, 0.6);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.65);
}

.playerHand {
  grid-area: playerHand;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  position: relative;
}

.gameHint {
  font-family: initial;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 5px;
  color: hotpink;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.6);
  border-radius: 20px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 85%;
}

.gameHint:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
  transition: transform 2s ease-out, border 0.2s ease-out;
}

.movesCounter {
  background: var(--dark-sienna);
  color: var(--cream);
  font-family: initial;
  font-size: 1.5rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.movesCounter:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
  transition: transform 2s ease-out, border 0.2s ease-out;
}

.card-container {
  font-size: 1rem;
  align-self: center;
  height: 60%;
}

.card:hover {
  transform: scale(1.5) translateY(15%) rotateY(360deg);
  transition: transform 1s;
}

.card-container .card {
  font-size: 1rem;
  align-self: center;
  height: 60%;
}

.card-container button {
  padding: 3px 5px;
  font-size: 1rem;
}

button.restartButton.box {
  background: var(--desert-sand);
  color: var(--rich-black);
  box-shadow: 1px 1px 3px 0px black;
  text-shadow: 3px 3px 1px var(--dark-slate-gray);
  font-weight: bold;
  border: 2px solid #f131ada1;
  border-radius: 15px;
  font-size: 3rem;
  padding: 3px 30px;
}
