.gameContainer {
  background: var(--desert-sand);
  font-family: var(--main-font);
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  grid-template-areas:
    "drawPile discardPile"
    "playerHand playerHand";
}

.gameContainer button {
  background: var(--desert-sand);
  color: #fff;
  box-shadow: 1px 1px 3px 0px black;
  font-weight: bold;
  border: 1px solid #66644c61;
  border-radius: 10px;
}

button:hover {
  border: 1px solid hotpink;
  color: #bc2222fa;
  transition: border 0.2s ease-out, color 1s ease-out forwards;
}

.gameContainer button:active {
  color: hotpink;
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 1);
}
.gameContainer button:focus {
  outline: none;
}

.gameContainer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameContainer .link {
  font-size: 2rem;
  padding: 10px;
  background: khaki;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  justify-self: center;
}

.gameContainer .link:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
}

.drawPile {
  grid-area: drawPile;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.drawPile > div {
  background: url(/deck/deck.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 50%;
}

.drawPile section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  color: green;
  text-shadow: 0px 0px 10px #09cbef;
  font-size: 1.5rem;
}

.discardPile {
  grid-area: discardPile;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fr);
}

.playerHand {
  grid-area: playerHand;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(8, 1fr);
}

.card-container {
  font-size: 1rem;
  align-self: center;
  height: 60%;
}

.card:hover {
  transform: scale(1.5) translateY(15%) rotateY(360deg);
  transition: transform 1s;
  animation: flip-vertical-left 0.4s ease-out;
}

.card:hover ~ .score {
  color: hotpink;
}

.card-container .card {
  font-size: 1rem;
  align-self: center;
  height: 60%;
}

.card-container button {
  padding: 3px 5px;
  font-size: 1rem;
}

.restartButton {
  font-size: 1rem;
  padding: 5px 10px;
}
