.rulesContainer {
  font-size: 2rem;
  font-family: var(--main-font);
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cream);
  color: var(--rich-black);
}

.rulesBox {
  border: 3px solid var(--dark-slate-gray);
  padding: 50px;
  background: var(--desert-sand);
  width: 80%;
  text-align: center;
  flex: 0 1 auto;
}

.rulesBox li {
  list-style: square;
  text-align: left;
}

.rulesContainer .link {
  font-size: 2rem;
  padding: 5px;
  background: var(--dark-slate-gray);
  border-radius: 5px;
  flex: 0 1 auto;
}

.rulesContainer .link:hover {
  transform: scale(1.1);
  border: 3px solid hotpink;
}
